<?xml version="1.0" encoding="utf-8" ?>
<EventHubConfig>
  <EventHubName >mysb</EventHubName>
  <EventHubConnectionString >Endpoint=sb://mysb.servicebus.windows.net/</EventHubConnectionString>
  <StorageConnectionString>DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net</StorageConnectionString>
  <StorageContainerName>mysa</StorageContainerName>
  <TestMessageBase>SBTESTING</TestMessageBase>
  <Iterations>100</Iterations>
</EventHubConfig>